.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    .login-text {
        font-size: 30px;
        font-weight: 700;

    }
}

.title-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

form {
    max-width: 400px;
    margin: auto;
    ion-card {
        box-shadow: none;
        border: 1px solid grey;
        padding: 24px;
    }
}

.toggle-text {
    margin: auto;
    text-align: center;
}