img {
    height: 100px;
    width: auto;
}

ion-content{
    padding-top: 2em;

}

.homeBackground {
    background-image: url("https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg");
    height: auto;
    background-size: auto;
    background-repeat: no-repeat;

}

ion-card {
    max-width: 400px;
    min-height: 200px;
    margin: auto;
    display: flex;
    margin-top: 2em;

}

ion-card-title {
    font-size: 30px;
    font-weight: 600;
}

.card-subtitle {
    border: 1px solid black;
    min-height: 50px;
}

.mtListImage {
    min-width: 500px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    margin: auto;
}
